[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = https://github.com/CLAMP-IT/quickmail
[submodule "report/editdates"]
	path = report/editdates
	url = https://github.com/moodleou/moodle-report_editdates
[submodule "blocks/filtered_course_list"]
	path = blocks/filtered_course_list
	url = https://github.com/CLAMP-IT/moodle-blocks_filtered_course_list
